.container-fluid{
    font-family: "Open Sans", sans-serif;
}
.fa{
    position: absolute;
    color: gray;
    margin-left: -29px;
    padding-top: 13px;
}

.or-container {
    align-items: center;
    color: #222327;
    display: flex;
    margin: 10px 0;
}
.line-separator {
    background-color: #F1F1F1;
    height: 1px;
    flex-grow: 5;
}
.or-label {
    flex-grow: 1;
    text-align: center;
}
p{
    margin-right: 25%;
}
.anchor{
    text-decoration: none;
    color: #000;
}
.anchor2{
    text-decoration: none;
    color: #000;
    margin-left: 6px;
}
.btn{
    background-color: white !important;
    border-color: #CFCFCF;
}
.form{
    margin-left: 20px;
    margin-right: 20px;
}
h1,h5{
    margin-left: 20px;
    margin-right: 20px;
}
#log{
    background-color: #1AEBB6 !important;
    padding: 12px;
    border-color: white !important;
}
#google{
    margin-right: 12px;
}

@media (max-width: 767.98px) {  
     body {  
       padding: 10px;
 }
 }
  
@media (min-width: 992px) {
     #form {
     max-width: 570px;
}
}
